@font-face {
    font-family: "Exo 2";
    src: url(/fonts/Exo2-Medium.ttf);
}

@font-face {
    font-family: "Exo 2";
    src: url(/fonts/Exo2-SemiBold.ttf);
}

@font-face {
    font-family: "PT Sans";
    src: url(/fonts/PTSans-Bold.ttf);
}

@font-face {
    font-family: "PT Sans";
    src: url(/fonts/PTSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 109px;
}

.hero-leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero-title {
    font-family: "Exo 2";
    font-size: 52px;
    font-weight: 600;
    color: #363738;  
    max-width: 610px;
    width: 100%;
}

.hero-text {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    color: #6B6B6C;
    max-width: 525px;
    width: 100%;
}

.hero-link {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    color: #363738;
    text-decoration: none;
    border-bottom: 5px solid #FFCE50;
    width: fit-content;
    padding-bottom: 3px;
}

.delivery-cards {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 20px 0px #00000026;
    border-radius: 20px;
    margin-top: 67px;
    padding: 80px 40px;   
}

.delivery-card-title {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    color:  #363738;
    max-width: 228px;
    width: 100%;
    margin-top: 24px;
}   

.delivery-card-text {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    color: #6B6B6C;
    max-width: 225px;
    width: 100%;
    margin-top: 16px;
}

.sign-wrapper {
    background-image: url(../images/fura-2.png);
    height: 453px;
    background-repeat: no-repeat;
    margin-top: 67px;
}

.sign-leftside{
    clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
    background-color: #0B7572;
    width: 769px;
    height: 453px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   .sign-title {
    max-width: 362px;
    min-height: 109px;
    font-family: "Exo 2";
    font-size: 48px;
    font-weight: 600;
    color: #FFFFFF;
   }
}

.contact-us-wrapper {
    margin-top: 72px;
    display: grid;
    gap: 67px 140px;
    grid-template-columns: repeat(2, 1fr);
}

.contact-us-card {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.contact-us-title {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    color: #363738; 
    max-width: 327px;
    width: 100%;
    margin-bottom: 16px;
}

.contact-us-text {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    color: #6B6B6C;
    max-width: 291px;
    width: 100%;
}

.completed-title {
    font-family: "Exo 2";
    font-size: 48px;
    font-weight: 600;
    color: #363738;
    max-width: 687px;
    width: 100%;
    margin-top: 120px;
}

.completed-text {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    color: #6B6B6C;
    max-width: 667px;
    width: 100%;
    margin: 32px 0px 56px;
}

.completed-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.completed-card {
    box-shadow: 0px 4px 15px 0px #0000001F;
    border-radius: 10px;
    padding: 24px 32px;
    img{
        width: 100%;
    }
}

.completed-card-title {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #363738;
    max-width: 327px;
    padding: 24px 0px 16px 0px; 

}

.completed-card-text {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6B6B6C;
    max-width: 291px;  
    padding-bottom: 32px;
}

.completed-card-link {
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: 600;
    color:  #363738;
    text-decoration: none;
    border-bottom: 5px solid #FFCE50;
    width: fit-content;
}

.agreement-title {
    font-family: "Exo 2";
    font-size: 48px;
    font-weight: 600;
    color: #363738;
    max-width: 687px;
    width: 100%;
    margin: 120px 0px 48px;
}

.agreement-card {
    box-shadow: 0px 4px 15px 0px #0000001F;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 24px;
    width: 100%;
    img {
         max-width: 331px;
         margin: 32px 0px 32px 96px;
    }
    display: flex;
    gap: 0  56px;
    align-items: center;
}

.agreement-card-title {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    color:#363738;
    max-width: 258px;
    width: 100%;
    border-bottom: 3px solid #FFCE50;
    margin-bottom: 24px;
    
}

.agreement-card-text {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    color: #6B6B6C;
    max-width: 568px;
    width: 100%;
}

.trust-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-content: flex-start;
}
.trust-card {
    border-right: 1px solid  #D7D7DD;
    padding-left: 60px;
    padding: 94px;
}

.trust-card:nth-child(4) {
    border: none;
}

.trust-card:last-child {
    border: none;
}

.trust-title {
    font-family: "Exo 2";
    font-size: 48px;
    font-weight: 600;
    color: #363738;
    max-width: 687px;
    width: 100%;
    margin: 120px 0px 48px 0px;
}

.trust-card-title {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    color:  #363738;
    max-width: 184px;
    width: 100%;
    margin: 32px 0px 14px 0px;

}

.trust-card-text {
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    color:  #6B6B6C;
    max-width: 172px;
    width: 100%;
}
   
